<table>
  <tr>
    <td><%= link_to "Artists", :artists %></td>
    <td><%= link_to "Albums", :albums %></td>
    <td><%= link_to "Tracks", :tracks %></td>
    <td><%= link_to "Plays", :plays %></td>
    <td></td>
  </tr>
</table>